@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

:root {
  --color-title: hsl(300, 43%, 22%);
  --color-verify: hsl(333, 80%, 67%);
  --color-paragraph: hsl(303, 10%, 53%);
  --color-name: hsl(300, 24%, 96%);
  --color-text: hsl(0, 0%, 100%);
  --text-font: "League Spartan", sans-serif;
}
